.planet-navigation-container {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.planet-navigation-container button {
  border: none;
  background: transparent;

  color:rgba(255, 255, 255, 0.5);
  font-family: 'Spartan', sans-serif;
  text-transform: uppercase;
  font-size: .5625rem;
  font-weight: 700;
  letter-spacing: .12rem;

  padding: 1.25rem 0;
  width: 5rem;
  height: 4.25rem;
}

.content-btn.active {
  color: var(--light);
}
.mercury-btn.active {border-bottom: 4px solid var(--mercury-color);}
.venus-btn.active {border-bottom: 4px solid var(--venus-color);}
.earth-btn.active {border-bottom: 4px solid var(--earth-color);}
.mars-btn.active {border-bottom: 4px solid var(--mars-color);}
.jupiter-btn.active {border-bottom: 4px solid var(--jupiter-color);}
.saturn-btn.active {border-bottom: 4px solid var(--saturn-color);}
.uranus-btn.active {border-bottom: 4px solid var(--uranus-color);}
.neptune-btn.active {border-bottom: 4px solid var(--neptune-color);}



.planet-image-container {
  width: 100%;
  height: 19rem;
  
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.mercury-image {width: 29.6%;}
.venus-image {width: 41%;}
.earth-image {width: 46%;}
.mars-image {width: 34.4%;}
.jupiter-image {width: 59.7%;}
.saturn-image {width: 68.3%;}
.uranus-image {width: 46.9%;}
.neptune-image {width: 46.1%;}

.planet-geology {
  width: 2.75rem;
  position: absolute;
  bottom: 4rem;
}

.planet-text-container {
  text-align: center;
  width: 87.2%;
  margin: 0 auto 1.75rem;
  opacity: .9;
}

.planet-text {
  margin: 1rem 0 2rem;
}

.planet-source {
  font-size: .75rem;
  opacity: .6;
  font-weight: 200;
}

.planet-source a {
  color: inherit;
  font-weight: 700;
}

.link-icon {
  font-size: 1rem;
  margin-bottom: -.15rem;
  margin-left: .25rem;
}


.planet-stats-container {
  width: 87.2%;
  margin: 0 auto 2rem;
  opacity: .9;
}

.planet-stat {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: .5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .75rem 1.5rem;
}

.planet-stat:last-child {
  margin-bottom: 0;
}

.planet-stat strong {
  text-transform: uppercase;
  font-family: 'Antonio', sans-serif; 
  font-size: 1.25rem;
  letter-spacing: -.75px;
  font-weight: 400;
}