.planet-navigation-container {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.content-btn {
  border: none;
  background: transparent;

  color:rgba(255, 255, 255, 0.5);
  font-family: 'Spartan', sans-serif;
  text-transform: uppercase;
  font-size: .5625rem;
  font-weight: 700;
  letter-spacing: .12rem;

  padding: 1.25rem 0;
  width: 5rem;
  height: 4.25rem;

  cursor: pointer;
}

.planet-nav-number {
  display: none;
}

.content-btn.active {
  color: var(--light);
  cursor: default;
}
.mercury-btn.active {border-bottom: 4px solid var(--mercury-color);}
.venus-btn.active {border-bottom: 4px solid var(--venus-color);}
.earth-btn.active {border-bottom: 4px solid var(--earth-color);}
.mars-btn.active {border-bottom: 4px solid var(--mars-color);}
.jupiter-btn.active {border-bottom: 4px solid var(--jupiter-color);}
.saturn-btn.active {border-bottom: 4px solid var(--saturn-color);}
.uranus-btn.active {border-bottom: 4px solid var(--uranus-color);}
.neptune-btn.active {border-bottom: 4px solid var(--neptune-color);}



.planet-image-container {
  width: 100%;
  height: 19rem;
  
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.mercury-image {width: 7rem;}
.venus-image {width: 7rem;}
.earth-image {width: 10.75rem;}
.mars-image {width: 8rem;}
.jupiter-image {width: 14rem;}
.saturn-image {width: 16rem;}
.uranus-image {width: 11rem;}
.neptune-image {width: 10.75rem;}

.planet-geology {
  width: 2.75rem;
  position: absolute;
  bottom: 4rem;
}

.planet-text-container {
  text-align: center;
  width: 87.2%;
  margin: 0 auto 1.75rem;
  opacity: .9;
}

.planet-text {
  margin: 1rem 0 2rem;
}

.planet-source {
  font-size: .75rem;
  opacity: .6;
  font-weight: 200;
}

.planet-source a {
  color: inherit;
  font-weight: 700;
}

.link-icon {
  font-size: 1rem;
  margin-bottom: -.15rem;
  margin-left: .25rem;
}


.planet-stats-container {
  width: 87.2%;
  margin: 0 auto 2rem;
  opacity: .9;
}

.planet-stat {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: .5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .75rem 1.5rem;
}

.planet-stat:last-child {
  margin-bottom: 0;
}

.planet-stat strong {
  text-transform: uppercase;
  font-family: 'Antonio', sans-serif; 
  font-size: 1.25rem;
  letter-spacing: -.75px;
  font-weight: 400;
}



/* -------------------------------------------------------------------------*/
/* MEDIUM DISPLAY ----------------------------------------------------------*/
/* -------------------------------------------------------------------------*/



@media only screen and (min-width: 768px) {
  .planet-content-container {
    width: 90%;
    margin: 0 auto 2.125rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-auto-rows: minmax(min-content, max-content);
    gap: 0px 0px; 
    grid-template-areas: 
      "planet-image-container planet-image-container planet-image-container planet-image-container planet-image-container"
      "planet-image-container planet-image-container planet-image-container planet-image-container planet-image-container"
      "planet-image-container planet-image-container planet-image-container planet-image-container planet-image-container"
      "planet-text-container planet-text-container planet-text-container planet-navigation-container planet-navigation-container"
      "planet-text-container planet-text-container planet-text-container planet-navigation-container planet-navigation-container";
  }
  .planet-image-container { grid-area: planet-image-container; }
  .planet-text-container { grid-area: planet-text-container; }
  .planet-navigation-container { grid-area: planet-navigation-container; }

  .planet-navigation-container {
    flex-direction: column;
    justify-content: center;
    border: none;
  }
  
  .content-btn {
    width: 100%;
    height: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 1rem;
    padding: .5rem 1.25rem;
    text-align: left;
    color: var(--light);
  }

  .planet-nav-number {
    display: inline;
    color:rgba(255, 255, 255, 0.5);
    margin-right: 1rem;
  }
  
  .content-btn.active {
    color: var(--light);
  }
  .mercury-btn.active {background-color: var(--mercury-color);}
  .venus-btn.active {background-color: var(--venus-color);}
  .earth-btn.active {background-color: var(--earth-color);}
  .mars-btn.active {background-color: var(--mars-color);}
  .jupiter-btn.active {background-color: var(--jupiter-color);}
  .saturn-btn.active {background-color: var(--saturn-color);}
  .uranus-btn.active {background-color: var(--uranus-color);}
  .neptune-btn.active {background-color: var(--neptune-color);}


  .planet-image-container {
    height: 28.75rem;
  }
  .mercury-image {width: 11.5rem;}
  .venus-image {width: 15.875rem;}
  .earth-image {width: 17.812rem;}
  .mars-image {width: 13.375rem;}
  .jupiter-image {width: 23rem;}
  .saturn-image {width: 26.375rem;}
  .uranus-image {width: 18.125rem;}
  .neptune-image {width: 17.812rem;}
  
  .planet-geology {
    width: 5rem;
  }


  .planet-text-container {
    height: 254px;
    margin: 0;
    text-align: left;
  }
  
  .planet-text {
    margin: 1.5rem 0 2rem;
  }


  .planet-stats-container {
    display: flex;
    width: 90%;
  }
  
  .planet-stat { 
    margin: 0 .75rem 0 0;
    flex-direction: column; 
    align-items: flex-start;
    width: 25%;
    padding: 1rem 1rem;
  }
  
  .planet-stat:last-child {
    margin-right: 0;
  }
  
  .planet-stat strong {
    margin-top: .6rem;
    font-size: 1.5rem;
  }
}


/* -------------------------------------------------------------------------*/
/* LARGE DISPLAY -----------------------------------------------------------*/
/* -------------------------------------------------------------------------*/


@media only screen and (min-width: 1440px) {
  .planet-source {font-size: .875rem;}

  .planet-stat strong {
    font-size: 2.5rem;
  }
}

