.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-menu {
  position: fixed;
  right: -100%;
  top: 3.875rem;
  bottom: 0;

  width: 100%;
  transition: 0.3s;

  background-color: var(--dark);
  padding: 2.75rem 6.4%;

  z-index: 100;
}
.nav-menu.active {right: 0;}

.nav-menu li {
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1.25rem 0;
  display: flex;
  align-items: center;
}

.nav-menu li:first-child {
  padding-top: 0;
}

.nav-menu li:last-child {
  border-bottom: none;
}

.nav-link {
  display: flex;
  width: 100%;
}

.mobile-nav-icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  flex-shrink: 0;
}
.nav-icon-mercury {background-color: var(--light);}
.nav-icon-venus {background-color: #F7CC7F;}
.nav-icon-earth {background-color: #545BFE;}
.nav-icon-mars {background-color: #FF6A45;}
.nav-icon-jupiter {background-color: #ECAD7A;}
.nav-icon-saturn {background-color: #FCCB6B;}
.nav-icon-uranus {background-color: #65F0D5;}
.nav-icon-neptune {background-color: #497EFA;}

.nav-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--light);
  font-weight: bold;
  letter-spacing: .085rem;
}

.arrow {
  color: rgba(255, 255, 255, 0.2);
  margin-left: auto;
}


/* HAMBURGER BUTTON */
.burger-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  background-color: var(--light);
}

.burger-button.active .bar:nth-child(2) {
  opacity: 0;
}

.burger-button.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-button.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}



/* -------------------------------------------------------------------------*/
/* MEDIUM DISPLAY-----------------------------------------------------------*/
/* -------------------------------------------------------------------------*/



@media only screen and (min-width: 768px) {
  .Nav {
    flex-direction: column;
    padding: 2rem 0 1.75rem;
  }

  .mobile-nav-icon, .arrow, .burger-button {
    display: none;
  }

  .nav-menu {
    position: static;
    display: flex;
    justify-content: space-between;
    width: 87%;
    padding: 0;
    margin: 2.5rem 0 0;
    height: .875rem;
  }

  .nav-menu li {
    border-bottom: none;
    padding: 0;
  }

  .nav-planet-name {
    font-size: .6875rem;
    color:rgba(255, 255, 255, 0.8);
    transition: .3s;
  }

  .nav-planet-name.active {
    color:var(--light); 
    cursor: default;
    border-bottom: 1px solid var(--light);
  }
}



/* -------------------------------------------------------------------------*/
/* LARGE DISPLAY------------------------------------------------------------*/
/* -------------------------------------------------------------------------*/



@media only screen and (min-width: 1440px) {
  .Nav {
    flex-direction: row;
    padding: 0 2.25rem;
    height: 5.375rem;
  } 

  .nav-menu {
    margin: 0;
    width: auto;
  }

  .nav-menu li {
    border-bottom: none;
    padding: 0;
    margin-left: 2.125rem;
  }
  .nav-menu li:first-child {margin-left: 0;}
}